*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#phone-nav{
    display: none;
}
body{background:#59ABE3;margin:0}
li, .nav-link{
    text-decoration: none;
    font-family: Poppins;
    font-weight: 800;
    color: #023047;
    font-size: 24px;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
    flex-wrap: nowrap;
}
#logo{
    margin-right: auto;
    padding-left: 50px;
}
.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li .nav-link {
    transition: all 0.3 ease 0s;
}
 /* Dizajni search boxit-Fillim */

 .boxContainer{
    width: 300px;
    height: 42px;
    border: 4px solid #29809b;
    padding: 0px 10px;
    border-radius: 50px;
    background-color: white;
}



.elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    background-color: transparent;
    margin-bottom: 5px;
}

.search:focus{
    outline: none;
}
.form{
    width:340px;
    height:440px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px)
     auto;padding:20px 30px;
     max-width:calc(100vw - 40px);
     box-sizing:border-box;
     font-family:'Montserrat',sans-serif;
     position:relative
    
    }
h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c
}
input{
   
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom: 2px solid #bebed2
}
input:focus{
    border-bottom:2px solid #78788c
}
p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}
button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;color:#5a5a6e;
    cursor:pointer;
    transition:all .3s}
button:hover{
    background:#78788c;
    color:#fff
}

#contact-info{
 
    content:'Hi';
    position:absolute;
    bottom:-15px;
    right:-20px;
    background:#50505a;
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000
}
span{margin:0 5px 0 15px}
@media only screen and (max-width: 748px) {
    /* NAVBAR PHONE */
    #phone-nav{
        display: block;
    }
     .container {
         max-width: 1050px;
         width: 90%;
         margin: auto;
         z-index: 1;
       }
       
       .navbar {
         width: 100%;
         /* box-shadow: 0 1px 4px rgb(146 161 176 / 15%); */
       }
       
       .nav-container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 62px;
       }
       
       .navbar .menu-items {
         display: flex;
       }
       
       .navbar .nav-container li {
         list-style: none;
       }
       
       .navbar .nav-container a {
         text-decoration: none;
         color: #0e2431;
         font-weight: 500;
         font-size: 1.2rem;
         padding: 0.7rem;
       }
       
       .navbar .nav-container a:hover{
           font-weight: bolder;
       }
       
       .nav-container {
         display: block;
         position: relative;
         height: 60px;
       }
       
       .nav-container .checkbox {
         position: absolute;
         display: block;
         height: 32px;
         width: 32px;
         top: 20px;
         left: 20px;
         z-index: 5;
         opacity: 0;
         cursor: pointer;
       }
       
       .nav-container .hamburger-lines {
         display: block;
         height: 26px;
         width: 32px;
         position: absolute;
         top: 17px;
         left: 20px;
         z-index: 2;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         margin-top: 15px;
       }
       
       .nav-container .hamburger-lines .line {
         display: block;
         height: 4px;
         width: 100%;
         border-radius: 10px;
         background: #0e2431;
       }
       
       .nav-container .hamburger-lines .line1 {
         transform-origin: 0% 0%;
         transition: transform 0.4s ease-in-out;
       }
       
       .nav-container .hamburger-lines .line2 {
         transition: transform 0.2s ease-in-out;
       }
       
       .nav-container .hamburger-lines .line3 {
         transform-origin: 0% 100%;
         transition: transform 0.4s ease-in-out;
       }
       
       .navbar .menu-items {
         padding-top: 120px;
         background-color: white;
         height: 100vh;
         width: 100%;
         transform: translate(-150%);
         display: flex;
         flex-direction: column;
         margin-left: -40px;
         padding-left: 50px;
         transition: transform 0.5s ease-in-out;
         text-align: center;
         font-weight: 800;
       
       }
       
       .navbar .menu-items li {
         margin-bottom: 1.2rem;
         font-size: 1.5rem;
         font-weight: 500;
       }
       
       .logo {
         position: absolute;
         top: 5px;
         right: 15px;
         color: #0e2431;
         transform: scale(0.9);
       }
       
       .nav-container input[type="checkbox"]:checked ~ .menu-items {
         transform: translateX(0);
       }
       
       .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
         transform: rotate(45deg);
       }
       
       .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
         transform: scaleY(0);
       }
       
       .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
         transform: rotate(-45deg);
       }
       
       .nav-container input[type="checkbox"]:checked ~ .logo{
         display: none;
       }
       header{
           display: none;
       }
}